<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<%= link_to "EventosBrasilia", root_path, class: "navbar-brand" %>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
          <li><%= link_to "Sobre", pages_sobre_path %></li>
          <li><%= link_to "Contato", pages_contato_path %></li>

          <% if user_signed_in? %>
              <li><%= link_to "Editar perfil", edit_user_registration_path %></li>
              <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "Inscrever-se", new_user_registration_path %></li>
              <li><%= link_to "Iniciar sessão", new_user_session_path %></li>
          <% end %>
        </ul>
        <!-- <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <!-- <button type="submit" class="btn btn-default">Submit</button> -->
        </form
        
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
