<!DOCTYPE html>
<html>
    <head>
    <%= render 'layouts/facebooklogin' %>
    <title>Eventosbrasilia</title>
            <%= csrf_meta_tags %>

            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
            <%= render 'layouts/bootstrap' %>
    </head>
  <body>
      <br>
      <%= render 'layouts/facebooklike' %>
            <%= render 'layouts/navbar' %>
                <div class="container-fluid">
                        <% flash.each do |name, msg| %>
                        <% if msg.is_a?(String) %>
                <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class=
                        "sr-only">Close</spar></button>
                        <%= content_tag :div, msg, :id => "flash_#{name}" %>
                </div>
          <% end %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  </body>
</html>
