<p id="notice"><%= notice %></p>

<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="true" data-auto-logout-link="true"></div>
<br>
<div class="jumbotron">
    <h2>EventosBrasilia é a melhor forma de saber o que está acontecendo perto de você!</h2>
</div>

<%= link_to 'Novo Evento', new_evento_path, class: "btn btn-primary" %>

<h1>Eventos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Evento</th>
      <th>Endereco</th>
      <th>Hora</th>
      <th>Data</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.name %></td>
        <td><%= evento.address %></td>
        <td><%= evento.hour %></td>
        <td><%= evento.data %></td>
        <td><%= link_to evento.website, evento.website %></td>
        <td><%= link_to 'Mostrar', evento, class: "btn btn-link" %></td>
        <td><%= link_to 'Editar', edit_evento_path(evento), class: "btn btn-link" %></td>
        <td><%= link_to 'Excluir', evento, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class= "center">
    <div class="fb-like" data-href="https://eventosbrasilia.herokuapp.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
