<h1>Esta é uma aplicacão desenvolvida por alunos de Engenharia de Software da UnB.</h1>
<h2>O website foi desenvolvido a partir de ferramentas do Ruby on Rails e de práticas de Orientacão a objetos.</h2>
